body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}



.circle {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

.keyword-section {
    text-align: center;
    background-color: #d9f6ff;
    padding: 30px 0;
    width: 1200px;
    margin: 0 auto;
}

.keyword-header h2 {
    font-size: 24px;
    margin: 0;
}

.keyword-header p {
    margin: 10px 0;
    font-size: 16px;
}

.icon-section {
    padding: 30px 0;
    width: 1200px;
    margin: 0 auto;
}

.icon-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.icon-item {
    background-color: #f4f4f4;
    width: 300px;
	height:600px;
    text-align: center;
    padding: 10px;
}

.icon-item .circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto 20px;
}


.fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button {
    width: 90px;
    height: 90px;
    background-color: rgb(0, 194, 255);
    border-radius: 50%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}

.button img {
    width: 50px;
    height: 50px;
}